attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
cffi==1.14.5
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
decorator==4.4.2
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
ipython==7.21.0
ipython-genutils==0.2.0
itemadapter==0.2.0
itemloaders==1.0.4
jedi==0.18.0
jmespath==0.10.0
lxml==4.6.2
parsel==1.6.0
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.17
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.8.1
pyOpenSSL==20.0.1
queuelib==1.5.0
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
w3lib==1.22.0
wcwidth==0.2.5
zope.interface==5.2.0
